@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Righteous');


body{
    background: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 85px;
    overflow-y: scroll;
}

#loadingGlass{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: 10;
}

#loadingGlass>span{
    z-index: 13;
    position: absolute;
    top: 50vh;
    left: 50vw;
    font-size: 42px;
    font-weight: bold;
    color: black;
    opacity: 1;
    transform: translateX(-50%);
}

header{
    font-family: 'Righteous', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-left: 10px;
    background-color: #035d53;
    color: white;
    z-index: 5;
}

h1{
    /*color:darkgoldenrod;*/
    color: white;
}

.visible-steps{
    max-height: 1200px;
    transition: max-height 0.5s ease-in;
}

.hidden-steps{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#newDatasetBtn{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 0;
    cursor: pointer;
    border-width: 0;
    border-radius: 3px;
    color: #fff;
    background-color: #5cb85c;
    height: 35px;
    text-transform: uppercase;
    transition: height 0.5s;
    margin-bottom: 5px;
}

#newDatasetBtn.hidden-button{
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.subtitle{
    font-size: 20px;
}

#datasetFile{
    font-size: 15px;
}

#datasetFile::-webkit-file-upload-button {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 0;
    cursor: pointer;
    border-width: 0;
    border-radius: 3px;
    color: #fff;
    background-color: #5cb85c;
    height: 35px;
    text-transform: uppercase;
}

#addDatasetBtn{
    height: 35px;
}

.project-step{
    display: inline-block;
    border: 1px solid;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    text-align: center;
    vertical-align: middle;
}


.project-step>span{
    font-family: 'Righteous', sans-serif;
    font-size: 33px;
}

.convert-file, .upFile{
    display: inline;
    margin-right: 20px;
}

#parentHolder {
    width:100%;
    box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    background-color: #bdbdbd;
}

table th {
    border-left: 1px solid #a09d9d;
    height: 40px;
    background-color: #bdbdbd;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th:first-child {
    border-left: none;

}

table td {
    border: 1px solid #bdbdbd;
    min-width: 100px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody {
    display:block;
    height:460px;
    overflow-y:scroll;
    overflow-x: hidden;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

.filtersControls > button{
    height: 17px;
}

#rowCounter{
    margin-left: 15px;
    font-weight: bold;
    vertical-align: middle;
}

.filterInstruction{
    font-size: 17px;
}

#filterContainer{
    overflow-y: hidden;
    margin-top: 10px;
    background-color: white;
    width: 99%;
}

#chartContainer{
    overflow-y: hidden;
    margin-top: 10px;
    background-color: white;
    width: 99%;
}

.hidden-filters{
    max-height: 0;
    padding: 0 5px 0px 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: max-height 1s ease-out, padding 1s, box-shadow 1s;
}

.visible-filters{
    max-height: 800px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: max-height 1s ease-in;
}

.hidden-charts{
    max-height: 0;
    padding: 0 5px 0px 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: max-height 1s ease-out, padding 1s, box-shadow 1s;
}

.visible-charts{
    min-height: 170px;
    max-height: 10000px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: max-height 1s ease-in;
}

.project-btn{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 0;
    cursor: pointer;
    border-width: 0;
    border-radius: 3px;
}

#doBtns{
    float: right;
}

#doBtns button:disabled{
    background-color: #9ab7b4;
    cursor: not-allowed;
}

.display-filter-btn{
    color: #fff;
    background-color: #00897B;
    width: 140px;
}

.display-filter-btn:hover{
    background-color: #035d53;
}

.reset-filter-btn{
    color: #fff;
    background-color: rgba(224, 96, 38, 0.92);
    width: 140px;
}

.reset-filter-btn:hover{
    background-color: rgba(173, 73, 28, 0.92);
}

#columnsCheckers{
    display: inline;
}

.apply-filter-btn{
    color: #00897B;
    background-color: #fff;
    border-color: #00897B;
    border-radius: 3px;
    border: 2px solid;
    height: 27px;
    margin-left: 20px;
}

.apply-filter-btn:hover{
    background-color: #00897B;
    color: #fff;
    border-color: #00897B;
}

.input-field{
    height: 25px;
}

#queryInput{
    vertical-align: bottom;
}

.err-msg{
    color: red;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: bottom;
    display: inline-block;
}

.error-textarea{
    border-color: red;
    box-shadow: 0px 0px 3px red;
}

.checker-name{
    margin-right: 10px;
}

canvas {
     width: 70vw;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#myDivPieChart {
     width: 40vw;
}

.chart-container {
    width: 70vw;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

.container {
    display: block;
    text-align: center;
/*    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
}

.block {
    display: block;
    margin: 20px;
}

.preselected_datasets{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dataset_card{
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 170px;
    height: 140px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
}

.dataset_card:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #66afa7;
    font-weight: bold;
}

.dataset_card:hover > i{
    color: white;
}

.dataset_card > p{
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
}

.fa-wifi{
    transform: rotate(90deg);
}

.chart-name{
    width: 120px;
    display: inline-block;
}
