@import url('https://fonts.googleapis.com/css?family=Roboto');

body{  
    background: white;
    font-family: 'Roboto', sans-serif;
}

h1{
    color:darkgoldenrod;
}

.subtitle{
    font-size: 20px;
}

.filterInstruction{
    font-size: 17px;
}

button{
    background-color: darkgoldenrod;
    color:antiquewhite;
    outline-color: antiquewhite;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
}

#datasetFile{
    font-size: 15px;
}

#datasetFile::-webkit-file-upload-button {
    color: darkgoldenrod;
    border: 1px solid arkgoldenrod;
    border-radius: 5px;
    background: antiquewhite;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    background-color: #bdbdbd; 
}

table th {
    border-left: 1px solid #a09d9d;
    height: 40px;
    background-color: #bdbdbd;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th:first-child {
    border-left: none;

}

table td {
    border: 1px solid #bdbdbd;
    min-width: 100px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody {
    display:block;
    height:460px;
    overflow-y:auto;
    overflow-x: hidden;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

#parentHolder {
    width:100%;
    box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 5px;
}

.filterContainer{
    max-height: 0;
    overflow-y: hidden;
    margin-top: 10px;
    background-color: white;
    padding: 0 5px 0px 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: max-height 1s ease-out, padding 1s;
}

.visible-filters{
    max-height: 500px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: max-height 1s ease-in;
}

.project-btn{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 0;
    cursor: pointer;    
    border-width: 0;
    border-radius: 3px;
}

.display-filter-btn{
    color: #fff;
    background-color: #00897B;
    width: 140px;
}

.display-filter-btn:hover{
    background-color: #035d53;
}

.reset-filter-btn{
    color: #fff;
    background-color: rgba(224, 96, 38, 0.92);
    width: 140px;
}

.reset-filter-btn:hover{
    background-color: rgba(173, 73, 28, 0.92);
}

.apply-filter-btn{
    color: #00897B;
    background-color: #fff;
    border-color: #00897B;
    border-radius: 3px;
    border: 2px solid;
}

.apply-filter-btn:hover{
    background-color: #00897B;
    color: #fff;
    border-color: #00897B;
}

.input-field{
    height: 25px;
}

#queryInput{
    vertical-align: bottom;
}

.errMsg{
    color: red;
}

.errorTextarea{
    border-color: red;
    box-shadow: 0px 0px 3px red;
}